{% extends 'user_layout.html' %}

{% block body %}
    <section id="breadcrumb">
          <ol class="breadcrumb">
            <li class="active">Classification of Malaria</li>
          </ol>
    </section>
    <hr>
  <div class='table-responsive'>
    <table class="table table-striped table-condensed">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Doctor's Name</th>
            <th>Gender</th>
            <th>Added On</th>
            <th></th>
        </tr>

        {% for patient in patients %}
            <tr>
                <td>{{patient.p_id2}}</td>
                <td>{{patient.p_name}}</td>
                <td>{{patient.p_dob}}</td>
                <td>{{patient.p_age}}</td>
                <td>{{patient.p_docname}}</td>
                <td>{{patient.p_gender}}</td>
                <td>{{patient.time_added}}</td>
                <td>
                  <a href="classify_image/{{patient.p_id}}" class="btn btn-info">Classify</a>
                  <a href="/history/{{patient.p_id}}" class="btn btn-default">History</a>
                </td>

            </tr>
        {% endfor %}

    </table>
  </div>
{% endblock %}
