<!-- Extends the layout.html in this file-->
{% extends 'layout.html'%}

<!-- {block} Adds this code to layout body-->
{% block body %}

  <div  class="jumbotron text-center" style="height: 550px;  display: flex; align-items: center; justify-content: space-around; align-items: center;">
    <div display: flex; justify-content: center; align-items: center;> 
      <h1 style="  color: #000C57; ">Malaria Identification <br> System </h1>

      <p>Revolutionize Malaria Classification with Deep Learning <br> - Get Accurate Results in Seconds! </p>
    </div>

    <div class="khalid"> 
      <img src="../static/img/imagehomepage.png"/>
    </div>
    
  </div>
  
<!-- //create login form   -->
  
  <!-- <div class="container">  

    <div class='content-container'>
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="panel panel-default card">
            <img src="/static/img/11.gif" alt="">
            <div class="panel-body">
              <h3 class='card-title'>Upload Image</h3>
              <p class='card-text'>Physicians can upload an Malaria infected  image in the system. Inorder to classify which disease it is.</p>
            </div>
          </div>

        </div>

        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="panel panel-default card">
            <img src="/static/img/22.gif" alt="">
            <div class="panel-body">
              <h3 class='card-title'>Classification</h3>
              <p class='card-text'>After the image is uploaded the physician can press the button to predict or classify the Malaria.</p>
            </div>
          </div>

        </div>


        <div class="col-md-4 col-sm-6 col-xs-6">
          <div class="panel panel-default card">
            <img src="/static/img/333.gif" alt="">
            <div class="panel-body">
              <h3 class='card-title'>Get Result</h3>
              <p class='card-text'>After system displays it’s prediction the physician can generate the classification report in PDF format.</p>
            </div>
          </div>

        </div>


      </div>


    </div>


  </div> -->

  <!-- <section id='about' class='about bg-primary my-4 py-2'>
      <div class="container">
        <div class="content-container">
          <div class="row">
            <div class="col-md-6 col-xs-12 text-left p-2">
              <h2 class='xl'>About</h2>
              <p class='lead'>The services that will be provided to the physicians will be</p>
              <ul class='lead fa-ul'>
                   <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Classification of Malaria.</li>
                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Managing patients by adding and generating patient’s records.</li>
                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Sharing those records with patients.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</section> -->

{% endblock %}
