<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Malaria Identification </title>
    

    <!-- Including CSS and Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="/static//scripts/jquery.js"></script>
  </head>
  <body>

    <!-- Includes the _navbar.html code here-->
    <div class='page-container'>
    {% include 'includes/_navbar.html' %}
    <div class="content-wrap">
      {% include 'includes/_messages.html' %}

      <!-- {block} Used to include the home page code here-->
      {% block body %}{% endblock %}

    </div>

    <footer class='footer'>
          <p class='text-center'>Copyright &copy; 2023</p>
    </footer>

  </div>



    <!-- Including JS files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a3c583410d.js" crossorigin="anonymous"></script>
  </body>
</html>


 